<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDHS6R_1YcFjWQ2bxJ6o2Q4XodIh9oKlo</string>
	<key>GCM_SENDER_ID</key>
	<string>392411953402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utcs.Petpanion</string>
	<key>PROJECT_ID</key>
	<string>petpanion-3d3bb</string>
	<key>STORAGE_BUCKET</key>
	<string>petpanion-3d3bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392411953402:ios:0d806579068b89e4ad7143</string>
</dict>
</plist>